[2016-09-28 22:50] dstrockis opened #2 "Show how to execute additional policies once the user is already logged in"
If you try to invoke any policy via the `ChallengeAsync` call after the user is already signed in, you might find that ASP.NET redirects to the "Forbidden" path of the underlying cookie middleware, instead of redirecting to Azure AD B2C.

To get the desired behavior, change the `ChallengeAsync` call to the following:

[code]

See https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore

[2016-09-28 23:16] dstrockis commented on #2
Looks like this workaround is to be fixed/removed in a future version of the middleware: https://github.com/aspnet/Security/pull/980

[2016-10-03 07:56] renevangeffen opened #3 "PostLogoutRedirectUri / RedirectUri"
RedirectUri = Configuration["AzureAD:RedirectUri"]; in Startup.cs refers to AzureAD:RedirectUri from config.json, however config.json does not contain AzureAD:RedirectUri. only a AzureAD:PostLogoutRedirectUri

[2016-10-28 17:50] himadrinath opened #4 "NullReferenceException"
@dstrockis  string scheme = (HttpContext.User.FindFirst("http://schemas.microsoft.com/claims/authnclassreference"))?.Value;

getting null

[2016-11-02 18:05] jpgutton commented on #4
I have the same issue and can't figure out how to logout correctly

[2016-11-28 07:02] jskulavik opened #5 "Fail to invoke B2C workflow"
Hi Folks,

No matter how I configure the cloned app (fabrikam) or my own tenancy, the sample fails to direct to the login.microsoft.com/[xxxxxxx] uri.  Is there something in this sample that requires updating?  I'd be glad to create a PR, but I'm not sure where to determine where the issue with this sample is.  Thanks!

[2016-12-05 14:35] onovotny opened #6 "SignedOut Callback not invoked with exising samples"
When using multiple policies and the non-default values for `CallbackPath` on the OIDC middlewhere, at least with version `1.1`, it seems like you also need to specify overrides of `SignedOutCallbackPath` and `RemoteSignOutPath` for the post logout callbacks to be invoked correctly:

I currently have the following in my `CreateOptionsFromPolicy`, which seems to work.

[code]

[2016-12-15 01:53] Arksutw commented on #5
In config.json, chanage PostLogoutRedirectUri to RedirectUri and it will run as well as you expect.

[2016-12-15 04:31] Arksutw opened #7 "sample with my Azure Active Directory b2c tenant"
I ran this example with below ones and it works fine
"ClientId": "90c0fe63-bcf2-44d5-8fb7-b8bbc0b29dc6",
 "Tenant": "fabrikamb2c.onmicrosoft.com",

But I created my own  b2c tenant, it doesn't work. I also try https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIdConnect-DotNet with my own  b2c tenant and it's ok. So are there any magic tips in Azure Active Directory b2c settings to fix in ASP.NE

[2016-12-22 03:08] Arksutw commented on #7
When I read README.md step by step carefully, I found the key point is in Step 5. So I changed  **_https://localhost:44316 to https://localhost:44316/{your-policy-name}_**. Then everything goes well. Thanks again for your samples.

BR, Ark

[2016-12-22 03:08] #7 closed

[2017-01-05 22:22] fp0n commented on #4
I was able to get this working properly by using "tfp" as the string - the main thing is that the class is trying to determine what policy did the user login under (B2C_1_sign_in, B2C_1_sign_up, B2C_1_sign_up_or_sign_in, etc.) and logout out of that policy - at least that worked for me.

[2017-01-06 22:11] KevinOrtman commented on #4
I added [https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore-b2c/pull/8](a pull request) which should correct this issue.

[2017-01-06 22:33] KevinOrtman commented on #6
Thank you much for that comment - that had me stumped!

[2017-01-06 22:39] alobakov commented on #6
Just spent the entire day troubleshooting and debugging this issue.
It boils down to the fact that when `SignedOutCallbackPath` is left unassigned and uses its default value, the OIDC middleware has no criteria to select the right policy when processing a sign-out callback, and simply picks the first declared one.
As a result, when any policy other than the first declared one is being signed out o

[2017-01-08 06:19] gsacavdm commented on #4
Thanks @KevinOrtman for your fix. That'll close this issue.

[2017-01-08 06:19] #4 closed

[2017-01-11 12:48] krunal039 opened #9 "Infinite redirection in IE and Edge"
We have used azure b2c with customize Azure AD B2C user interface page and when user try to loging with IE/Edge it stuck between redirection azure website and https://login.microsoftonline.com and keep redirecting users in between. two sites

[2017-01-25 08:23] gsacavdm opened #10 "Update to DotNetCore 1.1.0"
Also captured by this UserVoice entry:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/17526031

[2017-02-06 23:05] Bigshooter commented on #2
@dstrockis I attempted your fix and I no longer receive the Forbidden message, however I now get https://websiteURL/B2C_1_policysigninsignup .... any direction would be a great help.

[2017-02-06 23:24] Bigshooter commented on #2
Took some time but I figured it out.  I did not add my dev redirect URL for editing a profile to azure B2C redirect URLS.

[2017-02-07 03:42] gsacavdm commented on #10
See https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore-b2c/tree/dotnet101

[2017-02-14 20:47] dstrockis commented on #3
Fixed in commit 8993f0f26aff8af0766dffd5862a910e74ff396c

[2017-02-14 20:47] #3 closed

[2017-02-14 20:52] dstrockis commented on #5
Fixed in 8993f0f26aff8af0766dffd5862a910e74ff396c

[2017-02-14 20:52] #5 closed

[2017-02-20 03:52] BharatRajMeriyala opened #11 "Does this approach of adding users wortk with Graph API?"
Can we add users through Graph API?
Can you kindly provide a sample of achieving the same through Dotnet Core?

[2017-03-10 15:48] bobby-ind opened #12 "Error : InvalidOperationException: No authentication handler is configured to handle the scheme: b2c_1_org_b2c_global_signin"
In this sample app there is a Sign-in button. I am able to Sign-in successfully by clicking Sign-In button by providing my Azure B2C Tenant and registering the application in the tenant.

In another app, I want to authenticate without the Sign-In button being clicked i.e. right when I open the URL, I get redirected first to the Azure B2C AD login page, and after successful validation of credential

[2017-03-17 18:00] PavelBaykov opened #13 "Get access token"
Hi, thanks for example - thats the only example of ASP Core and Azure B2C in the world)

While using MVC5 and OWIN there was an opportunity to get Access token using ClaimsPrincipal.Current.
Articles: [1](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-api-dotnet), [2](http://bitoftech.net/2016/08/31/integrate-azure-ad-b2c-asp-net-mvc-web-app/)

Acco

[2017-03-20 20:08] nhwilly commented on #6
Man, oh, man.  Thank you.  Where do I send the beer?  This was making me nuts.

[2017-04-03 07:04] gsacavdm commented on #11
Yes, you can add users through the Graph, but that's a sample of it's own, unrelated to this one.
For now, we only have a [regular dot net sample](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet), though it should work pretty much the same for dotnet core.

[2017-04-03 07:04] #11 closed

[2017-04-03 07:09] gsacavdm commented on #12
The error `InvalidOperationException: No authentication handler is configured to handle the scheme: b2c_1_org_b2c_global_signin` indicates that you haven't configured a middleware for that policy.

The scheme provided as the first parameter to the Challenge in the [SignIn method](https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore-b2c/blob/master/WebApp-OpenIDC

[2017-04-03 07:14] gsacavdm commented on #9
Is this an issue you are experiencing when running this particular sample as is or an issue you're experiencing with your own implementation or a modified version of this sample.

If the former, please provide more details so that we can assist.
If the latter, you should create a post (with more details too) in [StackOverflow with the tag azure-ad-b2c] (http://stackoverflow.com/questions/tagged/az

[2017-04-11 06:32] #12 closed

[2017-04-12 16:20] gsacavdm commented on #10
See https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore-b2c/tree/dotnet11

[2017-04-12 22:48] NikolaosWakem commented on #10
I have master branch working - but not havin any luck with 1.1.0... Does the dotnet11 branch work?

[2017-04-14 06:04] gsacavdm commented on #10
Kudos to @danroth27 for taking care of this with #14

[2017-04-14 06:04] #10 closed

[2017-04-14 06:46] gsacavdm commented on #6
I don't believe this is applicable anymore with the updated 1.1 sample. I'll close the issue. Let me know if this is still and issue and we can reopen/revisit.

[2017-04-14 06:46] #6 closed

[2017-04-14 06:50] gsacavdm commented on #2
@dstrockis even after updating to 1.1 this still seems to be necessary.
See #15

Is the expectation that we should not need the ChallengeBehavoir?

[2017-04-14 07:12] gsacavdm commented on #13
We'll update this sample in the next few weeks to do access tokens properly which involves a very different approach. This approach involves **using access tokens rather than the id_token** (no more SaveSigninToken and Bootstrap context). To do this you'll need:
1. Register your web api and define scopes for it
2. In your web app's registration, indicate that you want to consume those scopes.
3. C

[2017-04-14 08:09] gsacavdm commented on #13
See #16

[2017-04-14 12:00] clairernovotny opened #17 "Authorization per policy"
The sample should show how to use ASP.NET Core's authorization policies to work with B2C's journeys to specify that specific policies are required for certain authorization.

That will enable things like step-up to MFA by using an attribute like `Authorize(Policy="mfa")`, and have it automatically redirect to the MFA journey to do the step-up.

[2017-04-14 15:46] danroth27 commented on #2
@tratcher @haok

[2017-04-17 19:30] nhwilly commented on #2
It looks like you all are working on this really neat capability.  It would great if someone could author a blog post on how to do it correctly.  I've chased my tail for days and I can't get the behavior I want.  Mostly because I'm not entirely sure I know what's going on under the covers.  Thanks...

[2017-04-18 21:49] gsacavdm opened #19 "B2C Web App Session Timeout not being honored"
The value Web App Session Lifetime setting in the Azure B2C Portal should set the cookie expiration. However, regardless of its value, it keeps getting set to two weeks.

See: http://stackoverflow.com/questions/43416837/b2c-web-app-session-lifetime

[2017-04-18 21:50] #19 closed

[2017-04-18 21:52] gsacavdm commented on #19
Note: This wasn't an issue in aspnet 4.6 as the UseTokenLifetime was true by default.
This was change for aspnet core, see https://github.com/aspnet/Security/issues/147

[2017-05-03 02:19] jaxxon33 opened #20 "context.failure.message"
System.InvalidOperationException occurred
  HResult=0x80131509
  Message=Invalid non-ASCII or control character in header: 0x000A
  Source=<Cannot evaluate the exception source>
  StackTrace:
   at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.FrameHeaders.ThrowInvalidHeaderCharacter(Char ch)
   at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.FrameHeaders.ValidateHeaderCharacters(String h

[2017-05-03 20:16] gsacavdm commented on #20
@jaxxon33 , can you provide more details. Was this just on a simple clone and run? Or was there some scenario that triggered it? The error seems to indicate there was a long running session involved... can you confirm?

[2017-05-03 23:42] jaxxon33 commented on #20
I just closed my browser, downloaded the zip, extracted then run. I was able to swap out the demo tenant for my own tenant which worked fine. I reproduced the error to confirm and assumed it was to do with the demo tenant.

Just now, before I replied, I tried to reproduce the problem by going through the exact process again, but this time it works perfectly.

Thanks for the sample and your prompt

[2017-05-03 23:42] #20 closed

[2017-05-13 10:51] Kaimonos opened #21 "Policies should be lowercase only"
I copied the policy names from the portal, where they are cased. I changed the line

context.ProtocolMessage.IssuerAddress = context.ProtocolMessage.IssuerAddress.Replace(defaultPolicy, policy);

to

context.ProtocolMessage.IssuerAddress = context.ProtocolMessage.IssuerAddress.ToLower().Replace(defaultPolicy.ToLower(), policy.ToLower());

[2017-05-15 01:01] gsacavdm commented on #21
Actually, you don't need to do a ToLower on them. If you send them as they are in the portal (with upper case) the sample still works just fine.

[2017-05-15 01:55] gsacavdm commented on #13
The sample has been updated with support for access tokens (readme update pending though).

[2017-05-15 01:55] #13 closed

[2017-05-17 15:43] ry8806 opened #22 "How essential is SessionState?"
I've not dug into the code fully yet, however can see a few references to SessionState

I'd like to use Azure AD B2C, however I'm a bit reluctant of bringing in SessionState into my current application.

Are there any other samples which don't rely on SessionState, or is SessionState essential to run Azure AD B2C??

Thanks
Ryan

[2017-05-17 21:38] NikolaosWakem opened #23 "AcquireTokenSilentAsync: result.AccessToken == null on my own B2C"
as long as you dont use custom domains - it will work

add key="ida:Tenant" value="[only use this syntax!!].onmicrosoft.com"

[2017-05-18 00:47] jaxxon33 commented on #23
I'm no expert but I would check your apps Reply URL. I've been adapting my tenant to a few different apps and it's the one thing that stops it working for me.

![screen shot 2017-05-18 at 10 40 44 am](https://cloud.githubusercontent.com/assets/1849877/26181846/d1412308-3bb6-11e7-928b-b5dff5269f40.png)
![screen shot 2017-05-18 at 10 41 32 am](https://cloud.githubusercontent.com/assets/1849877/26181

[2017-05-18 16:23] garethrampton commented on #23
@NikolaosWakem I'm seeing exactly the same issue. My configuration is correct (as it is documented), and I don't believe this is related to the reply url - it appears to be related to scopes, but I'm not sure what the solution is right now, and the Azure portal doesn't give the option of adding access related token scopes either.

[2017-05-19 09:26] allenhula commented on #23
@NikolaosWakem This sample works fine for me. Suggest you capture request using Fiddler and find out what's wrong.
@garethrampton Yes, the code is not matching the readme guideline. You need to register another web api application, and define scope, then grant api access to the web app application. All these steps can be done on portal. Suggest you follow steps in this [article](https://docs.micro

[2017-05-19 09:57] NikolaosWakem commented on #23
![image](https://cloud.githubusercontent.com/assets/4430381/26242655/14308526-3c81-11e7-93cb-24159ac5adf3.png)

![image](https://cloud.githubusercontent.com/assets/4430381/26242679/311a84fc-3c81-11e7-8767-320b785a9a8c.png)

https://localhost:44316/signin-oidc

![image](https://cloud.githubusercontent.com/assets/4430381/26242755/6f2cf068-3c81-11e7-9cf8-e420c11ee128.png)

Do you see the scopes retur

[2017-05-19 22:24] gsacavdm commented on #22
Hey @ry8806, updated the sample's read me with an "About the code section", in it you should find this note:

[2017-05-19 22:24] #22 closed

[2017-05-20 00:24] #23 closed

[2017-05-20 02:53] #9 closed

[2017-05-20 03:29] gsacavdm commented on #23
@NikolaosWakem , can you share details on what the issue was. I'd like to see if there's anything we can update to prevent people from running into the same issue.

[2017-05-20 03:32] parakhj commented on #23
@NikolaosWakem is using a tenant that has an additional domain name (mydomain.com) connected to the Azure AD B2C tenant (mydomain.onmicrosoft.com). Using mydomain.com as the tenant name in the request URL causes our service to prevent returning access_tokens (although id_tokens are returned just fine)

[2017-05-20 03:40] NikolaosWakem commented on #23
Thanks for you help in tracking this dow

I've wasted at least 30-40 hours finding this out the hard way over the last 3 weeks so let's fix it or thoroughly document it. Scope must be vanity name, authority must not be vanity names for access tokens to work

[2017-05-20 13:33] jaxxon33 opened #24 "Is it possible to run this code on VS for Mac?"
I have the code running fine on VS for Windows but have been trying it on VS for Mac, without altering the code, with no luck. Is Windows (IIS) a requirement?

The website loads fine but below is what I see when I click on 'sign in".

<img width="537" alt="screen shot 2017-05-20 at 11 11 37 pm" src="https://cloud.githubusercontent.com/assets/1849877/26276103/fbb0741e-3db3-11e7-8a1d-a46b7a9de181.pn

[2017-05-20 14:56] gsacavdm commented on #24
This samples hasn't been tested on Mac yet.

Can you enable Safari's Web Inspector or use Chrome and it's Developer Tools (F12) to check out the network trace. The key question is whether it is redirecting to Azure AD B2C which immediately redirects back to localhost:8080 or whether it's just not going to Azure AD B2C at all...

Is this with the default (pre-configured) appsettings or is this only

[2017-05-20 19:25] garethrampton commented on #23
I still can't get this to work. I never receive an Access token although I receive an Id token fine.
@allenhula I followed the steps in the linked article which is how I'd had things set up anyway.

Anyone have any pointers on how to get this working - or can provide a sample configuration?

The other thing I see - is when auth'ing directly via my web app the auth process works as expected (minus

[2017-05-21 00:10] jaxxon33 commented on #24
Thanks for your response @gsacavdm.

I see this with the original code with the default appsettings.

One thing to note is while VS Windows runs the app on HTTPS port 44316, VS Mac uses a random HTTP port. By targeting net core 2.0, the app runs on the user specified port shown below.

![screen shot 2017-05-21 at 10 06 04 am](https://cloud.githubusercontent.com/assets/1849877/26280196/2771d224-3e0

[2017-05-21 02:21] parakhj commented on #23
@garethrampton can you elaborate more on the "any variation of the run now link". Also, can you share the correlation ID when you hit the failure?

[2017-05-21 04:13] jaxxon33 commented on #24
Looks like it's going to login.microsoft.com first...

![screen shot 2017-05-21 at 2 09 45 pm](https://cloud.githubusercontent.com/assets/1849877/26281092/7e4cddc4-3e2f-11e7-889c-8f0ae1f9eb97.png)
![screen shot 2017-05-21 at 2 10 02 pm](https://cloud.githubusercontent.com/assets/1849877/26281095/8d1f2c08-3e2f-11e7-81b9-3cbb9111ae9a.png)

[2017-05-22 00:31] jaxxon33 commented on #24
Maybe more useful info in Chrome...

![screen shot 2017-05-22 at 10 29 02 am](https://cloud.githubusercontent.com/assets/1849877/26288648/bbd745d0-3ed9-11e7-84ab-ab3adf45c102.png)
![screen shot 2017-05-22 at 10 30 12 am](https://cloud.githubusercontent.com/assets/1849877/26288649/befcf476-3ed9-11e7-8fdd-11a23b6442f0.png)

[2017-05-22 05:43] parakhj commented on #24
@jaxxon33 I tried this sample on a mac (simply downloaded it and ran it). It worked fine for me. Did you make any changes after downloading it? The one difference I notice is that by default, my app ran on port 5000.

[2017-05-22 05:52] jaxxon33 commented on #24
Hi @parakhj, as mentioned I made no changes at first. I even tried on multiple MacBooks. I have now changed to port 5000 and everything works. Thank you so much for the tip!

![screen shot 2017-05-22 at 3 50 23 pm](https://cloud.githubusercontent.com/assets/1849877/26294362/6b465a0c-3f06-11e7-90cc-05a904a005ed.png)

[2017-05-22 05:52] #24 closed

[2017-05-22 09:37] jaxxon33 commented on #24
I just downloaded a fresh copy of the code and ran it. By default VS for Mac doesn't run on port 5000. I changed it to port 5000 then rebuilt but my changes are ignored. I can get it to run on the port I specify by targeting netcoreapp 2.0. Then all is well except it's not running on HTTPS and so is insecure.

<img width="989" alt="screen shot 2017-05-22 at 7 24 29 pm" src="https://cloud.githubuse

[2017-05-22 15:11] gsacavdm commented on #21
I stand corrected, my apologies @Kaimonos, we'll get this fixed.

[2017-05-22 15:16] gsacavdm commented on #21
Fixed! Thanks again @Kaimonos.

[2017-05-22 15:16] #21 closed

[2017-05-22 17:47] rahulvmarathe opened #25 "Getting AADB2C90081 error"
Hi,

I followed the steps and after successful authentication i am getting following error; i see ClientSecret specified in the application.json file
AADB2C90081: The specified client_secret does not match the expected value for this client. Please correct the client_secret and try again.
Correlation ID: e1d3a273-1e64-40ab-bcb2-53768f5f5d5b
Timestamp: 2017-05-22 17:45:45Z

[2017-05-22 21:57] parakhj commented on #25
@rahulvmarathe did you update the original values in the sample? And if so, did you generate a new client secret in the Azure AD B2C portal and update the value accordingly in the sample?

[2017-05-29 19:28] herbat73 opened #26 "VS2017 error occurs on project run"
To get rid this error follow and install script in powershell
https://support.microsoft.com/en-us/help/3180222/warnings-about-an-untrusted-certificate-after-you-install-visual-studio-2015-update-3

[2017-05-31 13:28] garethrampton commented on #23
Quick update - finally managed to get this to work after removing and re-adding my application from Azure B2C and then making sure my scopes were configured correctly. It does not appear to work without specifically defining custom scopes - the default user_impersonation scope alone will not provide an access token.

[2017-06-10 15:36] Marren85 opened #27 "MSAL does not return a token"
Hi, I've run the sample, exchanging my values into the settings.

Everything works fine, I can log in, see claims etc. my problem is I want to able to use the Graph API to add local accounts.

The only problem so far, that I've been banging my head against a wall with for the last 48 hours is I CANNOT get a token with MSAL.

Every single time it returns null, not an error btw and there is a value

[2017-06-10 15:39] Marren85 commented on #26
Hi, I had this the other day, not 100% on how I fixed it but I think it was because in the properties of my project in Visual Studio, I had a https url in the "App URL" address on the Debug page. I changed that back to http. changed my launch url to https and was good to go

[2017-06-10 15:44] Marren85 commented on #25
I find the documentation about B2C extremely poor, to get the Client Secret, if you didn't know:

Log into the Azure portal, go to your B2C blade settings and click "Applications" which I assume you have already set up...click the app you've set up that your using...click "Keys"...Generate Key....Save

That's your Client Secret, copy and paste it into VS...

I've found if the Client Secret it gene

[2017-06-12 23:01] parakhj commented on #27
Did you create a web api application, publish the same scopes, and update the app uri in the settings? (See step 4 in the Readme)

[2017-06-28 08:04] clockworkmice commented on #26
It is to do with untrusted certificates yes. I fixed with https://blogs.msdn.microsoft.com/robert_mcmurray/2013/11/15/how-to-trust-the-iis-express-self-signed-certificate/ old skool 😆

[2017-06-29 15:12] gsacavdm opened #28 "CallbackPath isn't configured"
The Callback path should be added to [AzureAdB2COptions](https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/blob/master/WebApp-OpenIDConnect-DotNet/AzureAdB2COptions.cs#L26) and wired up in [OpenIdConnectOptionsSetup](https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/blob/master/WebApp-OpenIDConnect-DotNet/OpenIdConnectOptionsSetup.cs#L33)

See [this PR](

[2017-07-09 04:10] zemien opened #29 "Invalid non-ASCII or control character in header: 0x000D exception"
Tested on: Visual Studio 2017 for Mac

The sample runs fine out of the box with the pre-configured settings. I can create accounts, call the API path, forget password, and sign out.

I then tried to configure my own app. The sign up page worked fine, my custom policy was picked up. However, I encounter the following exception when it tries to go back to http://localhost:5000/signin-oidc

[code]

A

[2017-07-09 05:04] zemien commented on #29
Some further testing: After the exception occurs, I tried navigating directly to http://localhost:5000/Session/EditProfile and it pops up with the Edit Profile page with my user details populated. I click Continue and I return to the app as the fully authenticated user. No exception.

[2017-07-10 22:44] parakhj commented on #29
[This post](https://stackoverflow.com/questions/38956067/accepting-non-ascii-characters-in-asp-net-core-and-json-maybe
) indicates it may have to do with you calling an http url. Perhaps try the https version?

[2017-07-26 14:20] AyhamB commented on #29
@zemien did you have to do any modifications for the sample code to run on Visual Studio for Mac 2017?

When running the sample *without any customization* it runs but as soon as clicked on **Sign in** it's redirected to localhost:3000 which is un-handled. Any advice?

Everything worked fine on Visual Studio 2017 running on Windows.

[2017-07-27 18:43] himadrinath commented on #29
@danieldobalian when i running development mode in my local machine with Core 1.1 it's working fine. but when i deploy it into azure web app getting this

![non-ascii](https://user-images.githubusercontent.com/12247490/28686582-43b1689a-7329-11e7-843c-871482983274.png)

[2017-07-28 09:23] bench333 commented on #29
I had this exception - but it was masking the real error returned by the API.

I changed the error handling code to look like this, using some RegEx to strip out the non-displayable characters:

`        // Handle sign-in errors differently than generic errors.
        private Task RemoteFailure(FailureContext context)
        {
            context.HandleResponse();
            var message = Regex

[2017-07-28 18:30] parakhj commented on #29
AAD**STS**70001 The STS means you are hitting the Azure AD endpoint, not Azure AD B2C. Is that intended?

[2017-08-08 19:11] 4deeptech commented on #27
@Marren85 I get the same thing.  result.AccessToken is null after the AcquireTokenByAuthorizationCodeAsync call.  If I swap my appsettings back to the ones in the sample that call returns an access code.  Did you find a solution or what was wrong with the B2C config?

[2017-08-08 20:28] parakhj commented on #27
@4deeptech can you confirm that you did the following:

1. Register your web api and define scopes for it
2. In your web app's registration, indicate that you want to consume those scopes.
3. Change your web app's OpenID Connect middleware:
     i. Response type of "id_token code"
     ii. Scope of "openid {your-web-api-scopes}"
4. Finally, you'll use MSAL in the OnAuthorizationCodeReceived event

[2017-08-08 22:28] 4deeptech commented on #27
@parakhj Here's the setup.  Have two app registrations.  This web app (this repo) is one of them, then I have a Web API as the second one. I created published scopes for the Web API and in the Web app I added (in the API Access area of the portal) both the Web App and the Web API apps as permitted scopes.  So I did item 1 and item 2 that you mention.  As for Item 3, since my web app is the code fr

[2017-08-08 23:00] 4deeptech commented on #27
@parakhj @Marren85 I figured out the issue after fiddling for quite a while. The solution was actually very simple.  The API Scope you request is NOT the published scope name, its the published scope VALUE.  If the name is demo.read and the value is 'READ' then you request [APP ID URI]/READ and **NOT** [APP ID URI]/demo.read

[2017-08-09 00:12] parakhj commented on #27
@4deeptech sorry about that. We are working to improve the documentation/UI.

[2017-08-09 00:12] #27 closed

[2017-08-15 20:41] alvipeo opened #30 "Upgrade to .Net Core 2.0"
Please?

[2017-08-17 21:33] parakhj commented on #30
Check this out - submitted by one of the members in our community:

https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/tree/core2.0

[2017-08-17 22:16] alvipeo commented on #30
Thank you guys!

[2017-08-17 22:16] #30 closed

[2017-08-25 14:24] NikolaosWakem opened #33 "Best add option.SignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;"
I suggest you maybe add

option.SignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;

to get around dotnet crashing on access denied in netcore 2.0

https://github.com/aspnet/Security/issues/1376

[2017-09-13 22:40] markwest51 opened #34 "Asp.Net Core 2 - get these build errors when incorporating into my own Web API"
hi

Does this need updating to work in ASP.NET Core 2.0 Web API, taking the code into my own solution to protect an API which will eventually be called by a Web App, the Azure B2C is all setup and correct.  In the OpenIdConnectOptionsSetup class i get the following errors flagged up

![image](https://user-images.githubusercontent.com/16761127/30404108-da4b42a2-98dc-11e7-9cce-6e13fe0e8cb9.png)

Do

[2017-09-13 22:47] parakhj commented on #34
Check out this branch: https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/tree/core2.0

[2017-09-13 22:50] markwest51 commented on #33
in .net core 2.0, i had to set this to

services.AddAuthentication(
                sharedOptions => sharedOptions.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme);

The SignInScheme was no longer available ?

[2017-09-14 09:26] NikolaosWakem commented on #33
I have this live in net core 2.0..

using Microsoft.AspNetCore.Authentication.OpenIdConnect;
using Microsoft.AspNetCore.Builder;
using Microsoft.Extensions.Options;
using Microsoft.IdentityModel.Protocols.OpenIdConnect;
using Microsoft.IdentityModel.Tokens;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Authentication;
us

[2017-09-14 09:29] NikolaosWakem commented on #34
I use this is .net core 2.0

public async Task OnAuthorizationCodeReceived(AuthorizationCodeReceivedContext context)
            {
                var code = context.ProtocolMessage.Code;
                var userTokenCache = new UserTokenCache(context.Principal).TokenCache;
                var cca = new ConfidentialClientApplication(AzureAdB2COptions.ClientId, AzureAdB2COptions.Authority, AzureAdB

[2017-09-14 19:42] markwest51 commented on #34
hi

will close this issue, did not spot the other branch and also added the code above as it now builds.  Just got to work out now why my B2C SignUp/In is not displaying when i run.  There does not seem to be a clear guide on how to protect an API and then do the same with a React Web App so token can be passed across, well at least using .Net Core 2.0

[2017-09-14 19:42] #34 closed

[2017-10-06 17:26] d1820 opened #35 "Need help with Configuration"
I can run the code from this sample and get everything working in chrome and firefox.. I try and use my azure b2c and web app and api and nothing works, even though the code is the same minus the appSettings.  Can we get screen shots posted of all the actual Azure configuration and setup.. I have followed the steps in the read me and no luck.  i have no clue what could be missing at this point. An

[2017-10-08 19:46] gsacavdm commented on #35
It's easier for folks to help if you post your own configurations, screenshots, details about the errors your seeing, etc.

[2017-10-08 20:46] d1820 commented on #35
I guess in my mind it's more valuable that the person or persons that wrote this code example should post their screenshots of their configuration since that's the last part of the puzzle that no one really knows about as far as looking at the code. the fact that I can download this code compile it and then run the code example and everything works means that obviously there's the missing configur

[2017-10-13 14:29] NikolaosWakem opened #36 "AADB2C90129: The provided grant has been revoked. Please reauthenticate and try again."
Whats the best way to deal with

AADB2C90129: The provided grant has been revoked. Please reauthenticate and try again.

after a password reset when calling AcquireTokenSilentAsync to get the token...

Best to make the ResetPassword policy run the sign out policy somehow?

[2017-10-13 15:12] NikolaosWakem commented on #36
i changed

if (context.Properties.Items.TryGetValue(AzureAdB2COptions.PolicyAuthenticationProperty, out var policy) && !policy.Equals(defaultPolicy))
                {
                    context.ProtocolMessage.Scope = OpenIdConnectScope.OpenIdProfile;
                    context.ProtocolMessage.ResponseType = OpenIdConnectResponseType.**CodeIdToken**;

to ask for a code + id token.. then when th

[2017-10-13 15:22] #36 closed

[2017-12-04 23:04] Bigshooter opened #38 "Sign Up does not trigger OnAuthorizationCodeReceived"
Sign Up does not trigger OnAuthorizationCodeReceived, is there some other event that should be listened too?

[2017-12-09 18:33] laultman opened #39 "Out of date: Does not support current tooling."
Have any plans to put out any samples that work with current tooling in VS2017?

[2017-12-09 21:47] laultman opened #40 "Suggestion: Always Provide and DIY Get-Started Intro"
Samples are GREAT. But then we have to build our own project. Nobody seems to think that we need to know how to start up using the VS tools with an MVC targeting a Microsoft technology. There are a bunch of options - which do we use?

[2018-01-10 19:16] Marren85 opened #41 "Sample works in 1.1 branch but not 2.0 branch (null MSAL token)"
The sample works perfectly in core 1.1 but in the 2.0 branch it doesn't.

The

`public async Task OnAuthorizationCodeReceived(AuthorizationCodeReceivedContext context)`

is never hit.

All I've been trying for the last year is to get a stupid token with MSAL. I thought we were close here.

How on earth can I get an MSAL token for my B2C API in .net core 2.0?

[2018-01-10 19:53] Marren85 commented on #41
I've not downloaded the sample....doesn't work
Recreated from scratch...token is null

WHY IS IT NULL!!

What is that has changed between 1.1 and 2.0 that makes the access token null?

It will something so simple and for the life of me I can't see it...

[2018-01-10 21:54] chaimzf commented on #41
For .net Core 2.0 use this sample:
https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/blob/core2.0/WebApp-OpenIDConnect-DotNet/OpenIdConnectOptionsSetup.cs

[2018-01-11 07:51] Marren85 commented on #41
Hi chaimzf, I did use the 2.0 branch. As I said in the first post, it doesnt work.

The 1.1 branch works perfectly.
The 2.0 branch does not.

AuthcodeRecv is never hit in the 2.0 branch,

2.0 branch needs adjusting to have a requesttype of code id_token to hit the AuthCodeRecv.

Within the 2.0 branch AuthCodeRecv event, in the MSAL request respone, the token is always null...

[2018-01-11 11:24] Marren85 commented on #41
I've spent so much time on this, its not even funny!

So, I went back to the 1.1 branch, which we know works..I manually upgraded to 2.0 so a lot of the code stays the same (which we know works)...Tested...null token.

To play safe, I completely removed the AzureB2CExtensions and added the bare minimum to Startup to make Azure B2C work with OpenIDConnect and used the 1.1 branch OnAuthCodeRecv whic

[2018-01-18 22:13] jg11jg commented on #41
probably this doesn't give you much help but I can confirm that it was the other way round for me.  1.1 branch didnt' work, 2.0 branch works just fine, i can log in using social provider, log out etc.   With zero changes to source code.

[2018-01-19 14:40] Marren85 commented on #41
Hi @jg11jg the logging in is a separate concern, ironically that works in both 1.1 and 2.0 branches, the MSAL token is a separate request which doesn't effect the logging in process.

I just cant believe after all this time, this still doesn't work, I've been following this for over a year

[2018-01-19 15:14] parakhj commented on #41
@Marren85  When you say "MSAL token", are you referring to an access token?

[2018-01-19 20:44] Marren85 commented on #41
@parakhj I am

[2018-01-19 21:07] parakhj commented on #41
Could you send me the request that you are making? Fiddler or Chrome might be useful to capture it, or you can set up a debugger.

The scope that is being sent is likely incorrect, so just want to confirm.

[2018-01-19 23:04] Marren85 commented on #41
@parakhj its the exact same scope that successfully generates a token in the 1.1 branch, its just for an API with a published scope in my B2C tenant.

If there was a problem with the scope, it wouldn't get the token in the 1.1 branch surely?

**1.1 Branch**
![1-1 branch](https://user-images.githubusercontent.com/12530085/35175708-ddf4f214-fd6c-11e7-9ac6-8b936f0bd5b7.png)

**2.0 Branch**
![2-0 bran

[2018-01-20 09:05] Marren85 commented on #41
Fixed It!

How you may ask...I have no idea but I will run through the steps for anyone else having the same problem...

All in Azure...firstly delete your WebApp and API from the Applications in the B2C blade.

Recreate the WebApp and API, remembering to add Published Scopes to the API and API Access to the WebApp, you can use the same scopes from the code you already have.

In your code you will

[2018-01-22 18:35] mikelunn opened #42 "AcquireTokenSilent Returns Session Has Expired After Recompile"
After recompiling the app the acquireTokenSilent function returns a session expired message. This is problematic during the development process because the session gets cleared after every recompile forcing me to login again. Is there a better way to handle this login session during the development cycle? Ideally, I would like to log in to the front end once, rebuild my app whenever I make a chang

[2018-01-22 19:39] mikelunn commented on #42
I love the work you guys are doing. But i'm finding these samples very incomplete for common use cases like the above. Thankfully I stumbled upon a community created solution:

[https://github.com/dzimchuk/azure-ad-b2c-asp-net-core/blob/master/TestApp/Infrastructure/ReauthenticationRequiredFilter.cs](ReauthenticationRequiredFilter.cs)

Is there anything I can do to help push this forward. It seems

[2018-01-22 19:39] #42 closed

[2018-01-25 14:58] HeMinzhang opened #43 "I find about non-ASCII character bug"
I use branch 2.0,I use Chinese operating system environment and get a error.
this is error in OpenIdConnectOptionsSetup.cs Line 98
context.Response.Redirect("/Home/Error?message=" + context.Failure.Message);

this is error message:

This is the error details:

[2018-01-25 18:51] parakhj commented on #43
Could you paste the failure message? context.Failure.Message

[2018-01-28 04:57] HeMinzhang commented on #43
@parakhj

failure.Message:	"AADB2C90081: The specified client_secret does not match the expected value for this client. Please correct the client_secret and try again.\r\nCorrelation ID: ac653eed-60ab-4d56-ad16-5dfde8a9bb8f\r\nTimestamp: 2018-01-28 04:56:16Z\r\n"	string
failure.ResponseBody:	"{\"error\":\"invalid_client\",\"error_description\":\"AADB2C90081: The specified client_secret does not ma

[2018-01-28 04:58] HeMinzhang commented on #43
-		Failure	{Microsoft.Identity.Client.MsalServiceException: AADB2C90081: The specified client_secret does not match the expected value for this client. Please correct the client_secret and try again.
Correlation ID: ac653eed-60ab-4d56-ad16-5dfde8a9bb8f
Timestamp: 2018-01-28 04:56:16Z

   at Microsoft.Identity.Client.Internal.OAuth2.OAuth2Client.CreateErrorResponse(HttpResponse response, RequestCon

[2018-01-29 19:25] parakhj commented on #43
Doesn't seem like any chinese characters are in the error message. Could you check the client secret if any characters were accidentally added?

[2018-01-31 14:37] HeMinzhang commented on #43
@parakhj  Yes,I know settings is error.But it make a can't catch exception.
**Thanks a million.**

[2018-03-05 22:36] #28 closed

[2018-04-03 02:10] #41 closed

[2018-04-05 13:51] ghost opened #46 "Having Trouble Reproducing Demo"
I've followed the steps as best I could but I'm having trouble with Step #4.  I'm afraid my node.js just isn't good enough to translate.  Is there an MVC version of the protected API somewhere?
It'd be real handy if there was a .net core version of the API part of this demo in the repository.

[2018-04-05 18:03] skorpionet100 commented on #46
same here, I click the Sign In link, code runs, but no effect at all.... Razor with Azure B2C is a pain because also the VS 2017 web app core with Azure B2C authentication template isn't working due an Exception "Microsoft.AspNetCore.Mvc.ViewFeatures.Internal.ValidateAntiforgeryTokenAuthorizationFilter:Information: Antiforgery token validation failed. The required antiforgery cookie ".AspNetCore.A

[2018-04-06 18:30] ghost opened #47 "What is signin-oidc."
In your repro instructions, you instruct us to set up the Reply URI to be:

Set the Reply URL to https://localhost:5000/signin-oidc.

Why?  The application launches from https://localhost:44316, so what's supposed to be listening on this port on that route?

[2018-04-08 17:52] phatcher opened #48 "How to debug mis-configured setup?"
I have a working ASP.NET MVC application that uses Azure B2C and I'm trying to make an ASP.NET Core app that uses the same tenant with no success.

The directory/policy information is likely to be correct since I copied it from the working setup but the problem I get is that I am not presented with my login screen.

What I notice is that the authentication urls are different in the MVC and .NET Co

[2018-04-10 04:37] parakhj commented on #46
@Dark-Bond there is a .net core version of the sample for api's here: https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapi

[2018-04-10 14:13] grahamehorner opened #49 "Microsoft.Identity.Client"
The Microsoft.Identity.Client package is a preview package and contains a number of classes that have duplicates in the Microsoft.IdentityModel.Client package/namespace; when/will this be corrected or is Microsoft.Identity.Client preview obsolete ?

[2018-04-10 14:56] Dark-Bond commented on #46
Thanks.  This version seems to work pretty well.

[2018-04-17 11:50] hungxuanho opened #50 "Login page"
Hi. I'm new to Azure and OpenIdConnect. I download the web app, run it from Visual Studio 2017 and got to the login page (https://login.microsoftonline.com/fabrikamb2c.onmicrosoft.com/B2C_1_SUSI/api....)

Then, I created an Azure AD B2C web app. I updated the web app's appsettings.json as shown below.
I published the web app to Azure. The web app's url is https://the-real-name.azurewebsites.net.
W

[2018-04-19 09:39] phatcher commented on #48
Can I have some response please!

[2018-04-22 14:48] wyldebill commented on #47
This wasn't clear to me either from the docs.  /signin-oidc is a prebaked url in the Open Id Connect middleware that Azure AD uses.

[2018-04-25 08:01] phatcher commented on #48
@parakhj yet again no response from anyone in your team

[2018-04-25 18:09] parakhj commented on #48
Apologies @phatcher. The URL's, while different, do the same thing. Some OIDC libraries don't like the fact that there is a non-standard parameter (the p parameter for policy), so we have to provide a URL format that has the policy in the path.

For quicker replies, I encourage also posting on stackoverflow, using the tag 'azure-ad-b2c'.  There are a lot more people monitoring that

[2018-05-01 11:28] phatcher commented on #50
@hungxuanho Have you setup the endpoint in your Azure B2C tenant to have a redirect url of https://the-real-name.azurewebsites.net/signin-oidc, the "signin-oidc" is required by the new client and is not particularly well documented

[2018-05-01 11:33] phatcher commented on #48
@parakhj No if you are going to post examples here, it makes sense to support them here. Also the only question posted on SO regarding this example has no replies apart from the author.

If you are not going to support these examples directly, make it clear in the documentation page of the project.

What's not clear from the documentation is that from the .NET to the dotnetcore version you must ch

[2018-05-02 01:35] parakhj commented on #48
The redirect URL is something you have full control over. It's just a matter of what URL the application is listening at. The .dotnetcore convention is to add the code that listens to the reply behind the path specified by /signin-oidc at the end. However, your code could handle it at the root level as well. It's just how you implement it

[2018-05-02 09:46] phatcher commented on #48
@parakhj From what I can see yes we do have full control over the reply url, however we must append /signin-oidc to the registered url in the Azure B2C tenant, or whatever string is assigned to OpenIdConnectOptions.CallbackPath, which won't except an empty string.

So from my perspective, this is a breaking change since I didn't have to do this for the standard .NET WebApp code and you have failed

[2018-05-03 04:26] parakhj commented on #48
Ah okay. Thanks for clarifying that - didn't properly acknowledge that you are migrating from your .NET webapp code.
Sure I'll work on making the instructions more clear.

[2018-05-03 07:32] hungxuanho commented on #50
Hi Phatcher. Many thanks for your response. Yes, putting signin-oidc at the end of the Replay URL, like this https://the-real-name.azurewebsites.net/signin-oidc,  works perfect. Thanks again, Phatcher.

[2018-05-03 07:32] #50 closed

[2018-05-18 22:38] grantbowering opened #51 "AzureAdB2COptions.RedirectUri not working"
Is it the intent of this code for`RedirectUri` property on the `AzureAdB2COptions` class (set in my appsettings.json) to end up the `redirect_uri=` querystring parameter of the `/te/[tenant]/[policy]/oauth2/v2.0/authorize?` call?

Because it sure doesn't.
It's ignoring it.

My RedirectUri is set to `http://localhost:3456/app/signin-oidc`, but what gets sent in that call is `&redirect_uri=http%3A%2

[2018-06-07 00:51] soorajpm commented on #51
Hi,

You can override the Redirect URI in the OnRedirectToIdentityProvider event. Example:
`public Task OnRedirectToIdentityProvider(RedirectContext context)
            {
context.ProtocolMessage.RedirectUri = "https://localhost:3456/app/signin-oidc";
}`

Make sure the Redirect URI is updated in the Application Registration page

[2018-07-11 08:42] blinkybill opened #52 "Hangs during high request loads"
Thank you for this great sample. Has this code been tested with production loads? It would be a good idea to update the sample code to include this kind of lock handling below so if something goes wrong with entering a lock the exiting of the lock does not get attempted, further degrading performance.

var lockIsHeld = false;
try {
   try {
   }
   finally {
      rwl.EnterReadLock();
      lockIs

[2018-08-28 21:06] jmprieur commented on #49
@grahamehorner : MSAL.NET is indeed a preview package, but we are actively working on it, and it will eventually replace ADAL.NET.
For more information, please read https://aka.ms/adal-4-msal-2-preview

[2018-08-28 21:06] #49 closed

[2018-08-28 21:07] #26 closed

[2018-08-29 16:46] thomhubers opened #54 "Not compatible with Microsoft.Identity.Client 2.0.0-preview"
The sample works with 1.1.0-preview, which is fine. However, my project used a slightly newer one and some NullReferences emerged in the MSALSessionCache.

Using 1.1.0-preview is fine for me, but I just wanted to let you know.

[2018-09-04 17:17] asmithKinegdo commented on #54
I had the same issue.  Cost me about 10 hrs of work to figure it out.

[2018-09-07 10:34] WernerMairl opened #56 "remove secrets from appsettings.json"
commiting secrets to github is never a good idea
your (personal dev) configuration should be in anway that can‘t be occur....

[2018-10-01 00:14] peiqinli opened #57 "got secure error when I try to sign in"
![image](https://user-images.githubusercontent.com/17135421/46264681-44babe00-c4d4-11e8-8dfc-f9b593e74a7f.png)

[2018-10-29 23:02] skorpionet100 opened #58 "Not compatible with aspnet core 2.1"
Hi,

This wonderful sample seems not compatible with latest core 2.1 and identity client... This is a pity.

[2019-01-01 12:29] digeler opened #59 "Error from RemoteAuthentication: Message contains error: 'redirect_uri_mismatch', error_description: 'AADB2C90006: The redirect URI 'http://b2.95e4700435c54427a457.northeurope.aksapp.io/signin-oidc' provided in the request is not registered for the client id 'eb201049-e7b1-4227-9a7c-5bb259261d37'. Correlation ID: 8f75359e-009f-44e3-b537-3f85f58cdd9c"
Trying to run b2c app .net core 2.1 ,followed the guide.
but am keep getting the this error :  Error from RemoteAuthentication: Message contains error: 'redirect_uri_mismatch', error_description: 'AADB2C90006: The redirect URI 'http://b2.95e4700435c54427a457.northeurope.aksapp.io/signin-oidc' provided in the request is not registered for the client id 'eb201049-e7b1-4227-9a7c-5bb259261d37'.

[2019-01-27 04:02] elvogel commented on #59
I'm getting this same error in ASP.NET Core 2.2 when deploying into App Engine.

[2019-01-27 20:06] elvogel commented on #59
I found a fix for this and will be issuing a pull request. If for some reason the PR is declined, add this to the top of `OnRedirectToIdentityProvider` in `OpenIdConnectOptionsSetup`:

[code]

[2019-01-27 20:07] elvogel commented on #57
Your reply URI was probably converted to `http` instead of `https`. Try adding this to the top of `OnRedirectToIdentityProvider` in `OpenIdConnectOptionsSetup`:

[code]

[2019-01-30 14:45] ossentoo opened #61 "User.Identity.Name is null and HttpContext.User.Claims is empty"
Hi,

I'm trying to implement this into my app (i.e. aspnetcore 2.2 and Azure AD).  I can login to the app via Azure AD fine.

I have implemented OnSecurityTokenValidated so that i can check that I'm receiving token and claims correctly, which is the case.

However, for some reason, I'm receiving a blank User.Identity (although it is not null).  This means there are no claims and Name property is n

[2019-02-19 22:10] mamood opened #64 "ERROR Account username: Missing from the token response environment login.microsoftonline.com home account id: AccountId: XXXX"
Hello,

I receive this message in the API sample code as below:

![image](https://user-images.githubusercontent.com/5520735/53050739-eea1e380-3491-11e9-995a-4bac72907f6a.png)

and on further inspection, it shows the `Username` value to be `Missing from the token response`:

![image](https://user-images.githubusercontent.com/5520735/53050810-198c3780-3492-11e9-844a-e033105d9957.png)

Couldn't find

[2019-02-21 11:56] jmprieur commented on #39
closing as it works with VS 2017

[2019-02-21 11:56] #39 closed

[2019-02-21 11:58] jmprieur commented on #58
Closing as this is now ASP.NET Core 2.2

[2019-02-21 11:58] #58 closed

[2019-02-27 08:25] OmegaAphex commented on #59
@elvogel Your solution worked for us. Thanks

[2019-04-08 21:27] jennyf19 commented on #64
@mamood What you found is correct.
This is a known issue w/B2C. The reason is because B2C does not return a value in the IdToken for preferred username because of the limitations with the social accounts. For example, AAD does return a value here because it knows who the user is, but for b2c, because the user can sign in with a local account, FB, Github, etc...there is not a consistent value for t

[2019-04-08 21:27] #64 closed

[2019-04-11 05:34] joshhhz opened #67 "Single-Sign Out AD B2C"
I have a **2 application** using a single `AD B2C` tenant. I want to _logout_ the user from both websites when the user signs out to either one of them. I'm using email for local accounts.

In `AAD`, there is a `LogoutUrl` registered on each application which receives a GET request to users currently signed in to. [Source](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocol

[2019-04-25 15:45] ckarras opened #68 "NullReferenceException in MSALSessionCache constructor"
In the latest version from the master branch, MSALSessionCache is no longer used but has been replaced by MSALStaticCache. However, if I modify the code to switch back to MSALSessionCache, there is a NullReferenceException in the Load() method called from the constructor, because the "cache" variable is null at this point:

[code]

This is how I create the MSALSessionCache (instead of MSALStaticCa

[2019-05-31 12:15] mmuarc opened #69 "acquireTokenSilent sometimes returns a null accesstoken"
Hi,

I'm using the new msal 1.0.0  version. I have an apihelper that every time is goint to do a call contacts my clientApplication wrapper like this:

[code]
The implementation of Ab2c.getTokenAsync is this:

[code]

So, basically I'm relying in clientApplication to handle the cached token for me since I understood that's what I'm supposed to do when using msal. But sometimes when I hit refresh I

[2019-05-31 12:18] #69 closed

[2019-05-31 12:19] mmuarc commented on #69
Wrong place

[2019-06-12 18:54] TiagoBrenck commented on #67
@jshrico would this be a solution for you?

[code]

[2019-06-12 19:02] TiagoBrenck commented on #61
@ossentoo I am quite confuse about your problem. Are you trying to use this B2C sample code, on an Azure AD (not B2C) scenario?

[2019-06-13 11:19] ossentoo commented on #61
no - i am using Azure B2C.  Anyway, I managed to resolve this, so I'm going to close the issue.

I think i may have had a bug in my own code elsewhere which caused the claims to be send correctly to this callback

[2019-06-13 11:19] #61 closed

[2019-06-17 12:55] MonkeyTennis opened #70 "Error messages in OnRemoteFailure should be url encoded before appending to query string"
I hit an issue where the Error page could not show the details of a specific error. It transpired this was because the error message, appended to the query string, contained invalid characters to form part of a URL.

[2019-06-17 13:01] MonkeyTennis commented on #70
Fix could be to do this on line 98 of ,\active-directory-b2c-dotnetcore-webapp\WebApp-OpenIDConnect-DotNet\OpenIdConnectOptionsSetup.cs:

context.Response.Redirect("/Home/Error?message=" + Uri.EscapeDataString(context.Failure.Message));

[2019-06-17 16:50] TiagoBrenck commented on #70
Thanks for pointing that out.

[2019-06-26 21:45] AryStl opened #72 "Latest version of AAD B2C?"
Is this sample leveraging the latest version of AAD B2C? I noticed that some parts of the code are quite old >6 months.

Or is it better to use: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC ? I noticed there is no Social Identities part there yet, any suggestions on samples or how to build it?

[2019-07-05 20:17] TiagoBrenck commented on #70
Fixed

[2019-07-05 20:17] #70 closed

[2019-07-11 11:56] DanoThom commented on #72
Total agreement on the above. With the new Azure AD B2C library and options this is desperately needed.

[2019-07-11 16:45] TiagoBrenck commented on #72
@AryStl @DanoThom we have added a basic B2C login sample on our dotnetcore tutorial repository: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C.
The sample is using the package, **Microsoft.AspNetCore.Authentication.AzureADB2C.UI**

If you have any suggestion for the dotnetcore B2C scenario, please open [an issue using this lin

[2019-07-11 16:45] #72 closed

[2019-07-15 11:31] DanoThom commented on #59
Works locally, but unfortunately this does not work for me when I publish to production. I'm still getting the issue where the redirect URL is using http under the hood instead of https and hence doesn't match my https app redirect configuration.

![image](https://user-images.githubusercontent.com/4973075/61212987-ae225b00-a6fb-11e9-8dea-4cb49e146cfc.png)

![image](https://user-images.githubuserco

[2019-07-15 14:15] elvogel commented on #59
In the months since I posted this, the libraries have upgraded and this has become a moot point, as the current libraries have greatly simplified a good deal of this plumbing.

That being said - can you confirm that you're hitting this `OnRedirectToIdentityProvider` event?

[2019-08-06 06:22] iamalexmang opened #76 "Update the repository to not use Bower"
Bower came as a client-side package management solution from the older templates of ASP.NET web applications. However, since Bower is deprecated, running this sample on VS 2019 becomes difficult and renders the sample useless (jQuery isn't loading, Bootstrap isn't loading etc.).
It is therefore my opinion that this sample should be updated to the latest .NET Core version, not use Bower (but maybe

[2019-08-06 06:24] amang2205 opened #77 "Update the repository to use the latest MSAL version"
This sample is using a very old MSAL version and becomes useless as a sample or guideline for implementing Azure AD B2C. Currently, this app targets MSAL 3.0.3-preview and in the case of a simple package update to 4.2.x, the sample no longer works.

[2019-08-06 20:20] TiagoBrenck commented on #77
The [PR](https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/pull/75) is opened already.

Thanks

[2019-08-06 21:25] TiagoBrenck commented on #76
Would this sample be closer to what you are looking for? https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C

[2019-08-07 01:57] amang2205 commented on #76
Totally!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tiago Brenck <notifications@github.com>
Sent: Wednesday, August 7, 2019 12:25:30 AM
To: Azure-Samples/active-directory-b2c-dotnetcore-webapp <active-directory-b2c-dotnetcore-webapp@noreply.github.com>
Cc: Alex Mang <amang@keyticket.eu>; Author <author@noreply.github.com>
Subject: Re: [Azure-Samples/active-d

[2019-08-13 19:05] #77 closed

[2019-08-13 19:05] jennyf19 commented on #77
@amang2205 done. we are also working on this [sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C) if you're interested.

[2019-08-13 19:06] TiagoBrenck commented on #68
Fixed

[2019-08-13 19:06] #68 closed

[2019-08-30 07:10] RadOsinski opened #80 "b2clogin.com for ASP.NET Core"
Hello,

I would like to ask for code update for using ASP.NET Core 2.2  MVC with b2clogin.com
According to docummentation onmicrosoft.com is not recommended:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/b2clogin.md

Additionally onmicrosoft.com cannot be used to to enable JavaScript on custom pages:
https://docs.microsoft.com/en-us/azure/active-directory-b2

[2019-08-30 07:51] jmprieur commented on #80
@RadOsinski : can you please try this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C.
It's part of an incremental tutorial and is about a Web App that signs-in users with B2C and uses b2cLogin

cc: @negoe @henrik-me @bgavrilMS @jennyf19

[2019-08-30 08:23] bmorgan91 opened #81 "No accounts being returned on cca.GetAccountsAsync()"
I've plugged in my own config values and an ID token and Access token is successfully being returned. However the GetAccountsAsync line in the HomeController returns no accounts. I've tried a few different code samples and have been unable to get this line to return any accounts. Is there some other set up work that needs doing to get the users to cache properly?

I also changed the AzureAdB2CInst

[2019-08-30 11:46] #81 closed

[2019-09-04 09:10] RadOsinski commented on #80
@jmprieur Thanks! That resolve an issue!

[2019-09-18 03:46] dmitrios opened #82 "Words 'simple' and 'dead simple' should be removed from content."
By using the above words, article will likely appear as indirectly offensive to reader by stating that subject described is 'simple' or 'dead simple'. The reader may be not familiar with subject in the article and such content implies that he/she cannot comprehend things that 'are simple'.
Using these words is also clear violation of internal product content policies that has been established at M

[2019-10-15 20:51] jennyf19 commented on #82
@dmitrios Sorry to have missed this great feedback. I have made the changes. You are correct. Appreciate you taking the time to provide this feedback. If you find other places that need updating, please let us know.

[2019-10-15 20:51] #82 closed

[2019-10-21 18:54] akourbat commented on #80
I also ran into this problem and it took me a few days looking for answers.  I suggest you change the `AzureAdB2COptions` class in the sample so that it uses `b2clogin.com` by default, otherwise access tokens are rejected by protected APIs - since most of them use `b2clogin.com` authority.

[2019-10-23 17:28] TiagoBrenck commented on #80
@akourbat we have an updated sample here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C

[2019-10-30 11:38] akourbat commented on #80
The above example only handles log-in to a webapp, and not a scenario where webapp then accesses a back-end webapi on behalf of the user like this repo does.

[2019-10-30 17:55] TiagoBrenck commented on #80
Oh I see. The version that you re looking for is under review: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/192

[2020-02-03 10:31] Srinivas-Ramu opened #88 "Unit testing for SessionController"
How to write unit testing (nUnit) for SessionController.

[2020-02-10 08:37] tarun00197 commented on #64
@jennyf19  Can you please explain the steps to fix the issue. somehow I am not able to do the above-mentioned step to fix the issue.

[2020-02-10 17:08] jennyf19 commented on #64
@tarun00197 what are you trying to do?

[2020-03-10 01:30] fad16papa commented on #61
@ossentoo my apologies to disturb you, I know this post was last year. My i ask how do you manage to solve this issue? Coz right now im having the same issue thank you.

[2020-03-12 16:24] ossentoo commented on #61
hi @fad16papa. I had to work around the issue in the end. We ended up writing some functionality to request the user details we needed from b2c.  We have an access token, and so can use this to query [Microsoft Graph](https://developer.microsoft.com/en-us/graph) for the details we need.  Clunky but it works.

[2020-03-18 01:52] yuanweilei commented on #61
@ossentoo
Maybe you can try this code
[code]
use it in startup.cs,
`app.UseEasyAuth2();`

[2020-03-18 03:13] fad16papa commented on #61
Hi @ossentoo thanks for the code and effort to help highly appreciated. I was able to solve my issue by adding a  [Authorize(Roles = ("sample role"))] in every endpoint call of my API method were the roles is set via identity roles and stored it in JWT . Here is my sample code

 [Authorize(Roles = ("sample role"))]
        [HttpPost, Route("external/api/SubmitVehicleNumberTNPermitLand/{cassToken}"

[2020-03-19 07:28] pawlikowski-michal opened #89 "Compatibility with .NET Core 3.1"
Hi,
This sample seems not to be compatible with newest .net core 3.1.
Can you please update the sample?
Thanks

[2020-03-19 22:13] TiagoBrenck commented on #89
@pawlikowski-michal could you refer to this sample instead? https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C

[2020-03-25 16:29] ryanglenn79 commented on #64
Hi jennyf19, I am also trying to get this message not to display. I've been through the articles and I must be missing something. Please could you point me in the direction of a step by step process to get the 'user' or simply clear the message. I've been though the "articleB2C doc" and cant find the solution.

[2020-03-25 17:45] jennyf19 commented on #64
@ryanglenn79 @tarun00197
Not sure if this will help.
In the portal, under the policy you want to target, go to Application Claims blade and make sure Display Name is enabled:
![image](https://user-images.githubusercontent.com/19942418/77567292-2f81de00-6e84-11ea-8902-a8704a293533.png)

When i have this enabled, in the AuthResult, in the idToken, you'll see the name value:
![image](https://user-ima

[2020-03-26 13:56] ryanglenn79 commented on #64
Hi Jenny
Thank you for answering. I have everything already setup as you suggest, and I am receiving  "Display Name", however I am still receiving "Account username: Missing from the token response environment"

When executing

`IEnumerable<IAccount> accounts = await PCA.GetAccountsAsync();`

The this displays in the email field for logging in.

[2020-03-26 18:55] chris-skuvault commented on #64
@jennyf19

I am getting the same behavior when calling `PCA.GetAccountsAsync()` from MSAL .net library. I see in the token that the name property is coming down properly from azure when decoding the token but it doesn't appear to get set on the Account object for the token cache. According to https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-aad-b2c-considerations

I believe

[2020-03-27 12:18] MichielCornilleESC opened #90 "How do I diagnose errors?"
Suddenly, after messing with custom policies for a bit, my Azure B2C tenant started throwing

This happens when I try to sign in to my application. (It creates the new user during signin/signup, but when returning to the dotnetcore app I just get this error

Here's what I tried:
-  I reverted my policy code to what worked before
-  I used fiddler to get a better look at server responses which gave

[2020-03-27 12:59] #90 closed, assigned to nobody

[2020-03-27 14:25] mmacy commented on #90
Hi @MichielCornilleESC, I notice that you've closed this, but for future reference, here's an article about using Application Insights to help troubleshoot B2C errors:

https://docs.microsoft.com/azure/active-directory-b2c/troubleshoot-with-application-insights

[2020-03-27 16:40] jennyf19 commented on #64
@ryanglenn79 @chris-skuvault Including "name" back in the claims has no impact on the MSAL cache. It will be included in the id_token, so you can filter there and display the user name if you want. You won't be able to get the name from the Account object. Sorry that was not clear.

There is only one cache per user, but each user will have multiple accounts or tokens in the cache, as each B2C poli

[2020-03-30 09:25] yashwanth-yenugu opened #91 "How to pass domain_hint while calling B2C for login"
Where can I pass domain_hint?

[2020-03-30 11:42] yashwanth-yenugu opened #92 "How to select a policy at runtime?"
I have multiple policies in IEF, How can I select a Policy at runtime?

[2020-03-30 16:03] jmprieur commented on #91
What is your scenario
Would you want to try to override the OnRedirectToIdenitityProvider event?

   services.Configure<OpenIdConnectOptions>(AzureADDefaults.OpenIdScheme, options =>
    {
        ...
        // Attempt to avoid displaying the select account dialog when signing out
        options.Events.OnRedirectToIdentityProvider = async context =>
        {
            //Your logic here

[2020-05-02 19:56] #91 closed, assigned to nobody

[2020-05-02 19:57] #92 closed, assigned to nobody

[2020-05-11 11:28] jmprieur commented on #89
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:28] #89 closed, assigned to nobody

[2020-05-11 11:29] jmprieur commented on #88
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:29] #88 closed, assigned to nobody

[2020-05-11 11:29] jmprieur commented on #80
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:29] #80 closed

[2020-05-11 11:29] jmprieur commented on #76
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:29] #76 closed

[2020-05-11 11:29] jmprieur commented on #67
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:29] #67 closed

[2020-05-11 11:29] jmprieur commented on #59
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:29] #59 closed

[2020-05-11 11:29] jmprieur commented on #57
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:29] #57 closed

[2020-05-11 11:30] jmprieur commented on #56
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:30] #56 closed

[2020-05-11 11:30] jmprieur commented on #54
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:30] #54 closed

[2020-05-11 11:30] jmprieur commented on #52
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:30] #52 closed

[2020-05-11 11:30] jmprieur commented on #51
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:30] #51 closed

[2020-05-11 11:30] jmprieur commented on #48
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:30] #48 closed

[2020-05-11 11:30] jmprieur commented on #47
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:30] #47 closed

[2020-05-11 11:30] jmprieur commented on #46
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:30] #46 closed

[2020-05-11 11:31] jmprieur commented on #43
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:31] #43 closed

[2020-05-11 11:31] jmprieur commented on #40
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:31] #40 closed

[2020-05-11 11:31] jmprieur commented on #38
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:31] #38 closed

[2020-05-11 11:31] jmprieur commented on #35
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:31] #35 closed

[2020-05-11 11:31] jmprieur commented on #33
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:31] #33 closed

[2020-05-11 11:32] jmprieur commented on #29
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:32] #29 closed

[2020-05-11 11:32] jmprieur commented on #25
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:32] #25 closed

[2020-05-11 11:32] jmprieur commented on #17
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:32] #17 closed

[2020-05-11 11:32] jmprieur commented on #2
Closing this issue as this sample is being archived and replaced by a newer ASP.NET Core 3.1 sample.
See Readme.md

[2020-05-11 11:32] #2 closed